<a href="https://colab.research.google.com/github/2303A52105/AIML_2303A52105/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Question 1:

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/stml/train.csv')
print(data.head())

   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]

In [ ]:
 y=data["price_range"]
 print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
x=data.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
dd=(x-x.min())/((x.max()) - x.min())
print(dd)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
0          0.227789   0.0         0.68       0.0  0.052632     0.0
1          0.347361   1.0         0.00       1.0  0.000000     1.0
2          0.041416   1.0         0.00       1.0  0.105263     1.0
3          0.076152   1.0         0.80       0.0  0.000000     0.0
4          0.881764   1.0         0.28       0.0  0.684211     1.0
...             ...   ...          ...       ...       ...     ...
1995       0.195725   1.0         0.00       1.0  0.000000     1.0
1996       0.977956   1.0         0.84       1.0  0.000000     0.0
1997       0.941884   0.0         0.16       1.0  0.052632     1.0
1998       0.675351   0.0         0.16       0.0  0.210526     1.0
1999       0.006012   1.0         0.60       1.0  0.263158     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
0       0.080645  0.555556   0.900000  0.142857  0.10   0.010204  0.170895
1       0.822581  0.666667   0.466667  0.285714  0.30   0.461735  0.993324
2       0.629032  0.888889   0.541667  0.571429  0.30   0.644388  0.811749
3       0.129032  0.777778   0.425000  0.714286  0.45   0.620408  0.858478
4       0.677419  0.555556   0.508333  0.142857  0.70   0.616327  0.475300
...          ...       ...        ...       ...   ...        ...       ...
1995    0.000000  0.777778   0.216667  0.714286  0.70   0.623469  0.927904
1996    0.596774  0.111111   0.891667  0.428571  0.15   0.466837  0.977971
1997    0.548387  0.666667   0.233333  1.000000  0.15   0.442857  0.755674
1998    0.709677  0.000000   0.541667  0.571429  0.25   0.171429  0.113485
1999    0.693548  0.888889   0.733333  0.714286  0.80   0.246429  0.169559

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
0     0.612774  0.285714  0.388889   0.944444      0.0           0.0   1.0
1     0.634687  0.857143  0.166667   0.277778      1.0           1.0   0.0
2     0.627205  0.428571  0.111111   0.388889      1.0           1.0   0.0
3     0.671566  0.785714  0.444444   0.500000      1.0           0.0   0.0
4     0.308658  0.214286  0.111111   0.722222      1.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
1995  0.110102  0.571429  0.222222   0.944444      1.0           1.0   0.0
1996  0.474613  0.428571  0.555556   0.777778      1.0           1.0   1.0
1997  0.748530  0.285714  0.055556   0.166667      1.0           1.0   0.0
1998  0.163816  0.928571  0.555556   0.944444      1.0           1.0   1.0
1999  0.978888  1.000000  0.222222   0.000000      1.0           1.0   1.0

[2000 rows x 20 columns]

In [ ]:
 from sklearn.model_selection import train_test_split
 x_train, x_test_, y_train, y_test=train_test_split(dd, y, test_size=0.2)
 print(x_train)
 print(x_test_)
 print(y_train)
 print(y_test)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
1193       0.420174   0.0         0.52       1.0  0.000000     0.0
1503       0.842351   0.0         0.08       0.0  0.368421     0.0
465        0.722779   1.0         0.44       0.0  0.263158     1.0
1674       0.964596   0.0         0.28       0.0  0.157895     0.0
329        0.314629   1.0         0.00       1.0  0.263158     0.0
...             ...   ...          ...       ...       ...     ...
1199       0.262525   0.0         0.08       0.0  0.105263     1.0
882        0.437542   1.0         0.88       1.0  0.052632     1.0
546        0.567134   1.0         0.00       1.0  0.000000     1.0
215        0.992652   1.0         0.00       0.0  0.157895     1.0
1979       0.743487   0.0         0.28       0.0  0.052632     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
1193    0.403226  0.888889   0.175000  0.000000  0.40   0.762755  0.720294
1503    0.935484  0.000000   0.641667  0.428571  0.50   0.328061  0.193591
465     0.645161  0.777778   0.316667  0.285714  0.50   0.140306  0.241656
1674    0.387097  0.666667   0.266667  0.714286  0.25   0.542857  0.694259
329     0.177419  0.333333   0.941667  0.571429  0.40   0.710204  0.864486
...          ...       ...        ...       ...   ...        ...       ...
1199    0.903226  0.000000   0.358333  0.142857  0.15   0.080612  0.164887
882     0.451613  0.888889   0.775000  0.285714  0.80   0.482143  0.943258
546     0.774194  0.777778   0.841667  1.000000  0.20   0.188265  0.029372
215     0.822581  1.000000   0.841667  0.285714  0.35   0.536735  0.678238
1979    0.112903  0.000000   0.675000  0.285714  0.10   0.088265  0.479973

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
1193  0.015767  0.642857  0.277778   0.500000      1.0           1.0   0.0
1503  0.300374  0.642857  0.277778   0.666667      1.0           0.0   0.0
465   0.907536  0.642857  0.555556   0.388889      1.0           0.0   0.0
1674  0.819348  0.928571  0.388889   1.000000      0.0           0.0   1.0
329   0.363175  0.428571  0.333333   0.611111      0.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
1199  0.814805  0.500000  0.388889   0.000000      1.0           0.0   0.0
882   0.662480  0.785714  0.833333   0.611111      1.0           0.0   1.0
546   0.542758  0.714286  0.055556   0.333333      1.0           1.0   0.0
215   0.764564  0.928571  0.277778   0.333333      1.0           1.0   1.0
1979  0.421165  0.714286  0.444444   0.500000      1.0           0.0   0.0

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
345        0.102204   1.0         0.32       0.0  0.000000     1.0
1181       0.514362   0.0         0.40       1.0  0.000000     0.0
1811       0.024048   1.0         0.60       0.0  0.052632     1.0
1426       0.636607   0.0         0.36       1.0  0.421053     0.0
1269       0.675351   0.0         0.04       1.0  0.052632     1.0
...             ...   ...          ...       ...       ...     ...
1887       0.813627   1.0         0.64       1.0  0.000000     0.0
1478       0.503006   1.0         0.72       0.0  0.000000     1.0
1233       0.442886   1.0         0.84       1.0  0.000000     0.0
1424       0.568470   0.0         0.76       0.0  0.263158     1.0
1594       0.056780   1.0         0.04       0.0  0.842105     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
345     0.806452  0.666667   0.966667  0.428571  0.20   0.875000  0.933244
1181    0.000000  0.888889   0.675000  0.000000  0.05   0.642857  0.859813
1811    0.854839  0.222222   0.191667  0.857143  0.10   0.531122  0.620828
1426    0.564516  0.777778   0.000000  1.000000  1.00   0.460714  0.273698
1269    0.838710  0.333333   0.450000  0.285714  0.10   0.112245  0.893191
...          ...       ...        ...       ...   ...        ...       ...
1887    0.806452  0.000000   0.891667  0.285714  0.05   0.212755  0.013351
1478    0.677419  0.111111   0.575000  0.000000  0.50   0.104082  0.347797
1233    0.951613  0.222222   0.066667  0.000000  0.30   0.564796  0.771696
1424    0.064516  0.888889   0.100000  0.714286  0.45   0.320918  0.533378
1594    0.645161  0.222222   0.341667  0.857143  0.85   0.400510  0.412550

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
345   0.208445  0.857143  0.222222   0.611111      1.0           0.0   0.0
1181  0.169963  0.714286  0.722222   1.000000      0.0           1.0   0.0
1811  0.473811  0.357143  0.277778   0.555556      1.0           1.0   1.0
1426  0.389364  0.785714  0.000000   0.944444      0.0           0.0   0.0
1269  0.831106  0.142857  0.166667   0.500000      1.0           0.0   1.0
...        ...       ...       ...        ...      ...           ...   ...
1887  0.629075  0.357143  0.055556   0.500000      1.0           1.0   1.0
1478  0.736237  0.142857  0.222222   0.555556      1.0           1.0   0.0
1233  0.962854  0.428571  0.555556   0.833333      0.0           1.0   0.0
1424  0.281400  0.500000  0.055556   0.666667      1.0           0.0   0.0
1594  0.431053  0.500000  0.111111   0.277778      1.0           1.0   1.0

[400 rows x 20 columns]
1193    0
1503    1
465     3
1674    3
329     1
       ..
1199    2
882     2
546     1
215     3
1979    1
Name: price_range, Length: 1600, dtype: int64
345     1
1181    1
1811    1
1426    1
1269    3
       ..
1887    2
1478    2
1233    3
1424    1
1594    1
Name: price_range, Length: 400, dtype: int64

In [ ]:
print(x.isnull().sum())
data=data.fillna(0)
print(data.dtypes)

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64
battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

Question 2:

In [ ]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/stml/housing.csv");
print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income  median_house_value  \
0             322         126         8.3252              452600
1            2401        1138         8.3014              358500
2             496         177         7.2574              352100
3             558         219         5.6431              341300
4             565         259         3.8462              342200
...           ...         ...            ...                 ...
20635         845         330         1.5603               78100
20636         356         114         2.5568               77100
20637        1007         433         1.7000               92300
20638         741         349         1.8672               84700
20639        1387         530         2.3886               89400

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [ ]:
 y=data['median_house_value']
 print(y)

0        452600
1        358500
2        352100
3        341300
4        342200
          ...
20635     78100
20636     77100
20637     92300
20638     84700
20639     89400
Name: median_house_value, Length: 20640, dtype: int64

In [ ]:
 x=data.drop('median_house_value',axis=1)
 print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income ocean_proximity
0             322         126         8.3252        NEAR BAY
1            2401        1138         8.3014        NEAR BAY
2             496         177         7.2574        NEAR BAY
3             558         219         5.6431        NEAR BAY
4             565         259         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635         845         330         1.5603          INLAND
20636         356         114         2.5568          INLAND
20637        1007         433         1.7000          INLAND
20638         741         349         1.8672          INLAND
20639        1387         530         2.3886          INLAND

[20640 rows x 9 columns]

In [ ]:
import pandas as pd
for column in x.columns:
    if x[column].dtype == 'object':
        try:
            x[column] = pd.to_numeric(x[column])
        except ValueError:
            print(f"Could not convert column '{column}' to numeric type.")
            x = x.drop(column, axis=1)
data = (x - x.min()) / (x.max() - x.min())
print(data)

Could not convert column 'ocean_proximity' to numeric type.
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       0.211155  0.567481            0.784314     0.022331        0.019863
1       0.212151  0.565356            0.392157     0.180503        0.171477
2       0.210159  0.564293            1.000000     0.037260        0.029330
3       0.209163  0.564293            1.000000     0.032352        0.036313
4       0.209163  0.564293            1.000000     0.041330        0.043296
...          ...       ...                 ...          ...             ...
20635   0.324701  0.737513            0.470588     0.042296        0.057883
20636   0.312749  0.738576            0.333333     0.017676        0.023122
20637   0.311753  0.732200            0.313725     0.057277        0.075109
20638   0.301793  0.732200            0.333333     0.047256        0.063315
20639   0.309761  0.725824            0.294118     0.070782        0.095438

       population  households  median_income
0        0.008941    0.020556       0.539668
1        0.067210    0.186976       0.538027
2        0.013818    0.028943       0.466028
3        0.015555    0.035849       0.354699
4        0.015752    0.042427       0.230776
...           ...         ...            ...
20635    0.023599    0.054103       0.073130
20636    0.009894    0.018582       0.141853
20637    0.028140    0.071041       0.082764
20638    0.020684    0.057227       0.094295
20639    0.038790    0.086992       0.130253

[20640 rows x 8 columns]

In [ ]:
 from sklearn.model_selection import train_test_split
 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)
 print(x_train)
 print(x_test)
 print(y_train)
 print(y_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3572     -118.51     34.24                  31         5297           664.0
3451     -118.44     34.32                  14         6235          1286.0
13669    -117.25     34.08                  30         2981           605.0
17537    -121.89     37.35                  47         2879           631.0
5341     -118.44     34.04                  49           32             7.0
...          ...       ...                 ...          ...             ...
7497     -118.25     33.93                  42          763           191.0
4044     -118.49     34.15                  33         2829           360.0
15438    -117.23     33.20                  29         3372           720.0
8819     -118.34     34.09                  37         1442           501.0
14404    -117.25     32.78                  21         1479           484.0

       population  households  median_income
3572         1986         657         8.6454
3451         3568        1190         4.1724
13669        1784         573         2.4500
17537        2229         606         3.2599
5341           14           7         2.1875
...           ...         ...            ...
7497          754         174         2.0486
4044         1010         363        10.3587
15438        1770         693         3.5109
8819          998         503         2.4432
14404         658         384         2.4500

[18576 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2323     -119.73     36.83                   8         3602             NaN
17095    -122.24     37.47                  36         2021           433.0
18688    -121.69     36.96                  23         1229           254.0
15821    -122.42     37.75                  52         1207           302.0
4305     -118.30     34.09                  32         2202           674.0
...          ...       ...                 ...          ...             ...
8101     -118.21     33.80                  41         1251           279.0
4300     -118.29     34.09                  35         2624          1116.0
17124    -122.13     37.46                  35         1321           300.0
5337     -118.46     34.04                  31         2621           707.0
12578    -121.44     38.53                  37         1951           432.0

       population  households  median_income
2323         1959         580         5.3478
17095        1117         432         3.9290
18688         687         232         5.1433
15821        1008         269         3.3816
4305         2178         635         2.0307
...           ...         ...            ...
8101         1053         278         3.2778
4300         3548        1008         2.0132
17124        1133         287         3.7312
5337         1632         673         3.2870
12578        1089         411         2.3272

[2064 rows x 8 columns]
3572     483500
3451     211600
13669     85800
17537    183100
5341     225000
          ...
7497     101800
4044     500001
15438    166000
8819     200000
14404    350000
Name: median_house_value, Length: 18576, dtype: int64
2323     138800
17095    303100
18688    305600
15821    262500
4305     226700
          ...
8101     150800
4300     198400
17124    159600
5337     348100
12578     80600
Name: median_house_value, Length: 2064, dtype: int64

In [ ]:
 print(x.isnull().sum())
 data=data.fillna(0)
 print(data.dtypes)

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
dtype: int64
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
dtype: object